body {
  display: flex;
  justify-content: space-evenly;
}
.main-body1,
.main-body2 {
  height: 150vh;
  width: 100vh;
  border-radius: 20px;
  margin: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.status-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.now-play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
}
.now-play__photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.now-play__name {
  font-size: 25px;
  font-weight: 700;
}
.now-play__type {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.shuffle-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.shuffle-box__shuffle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 30px;
}
.shuffle-box__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 30px;
}
.playlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 20px 10px 20px;
}
.playlist__songbox {
  display: flex;
  align-items: center;
}
.playlist__photo {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.dot {
  color: rgba(0, 0, 0, 0.5);
}
.playlist__name {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.playlist__song {
  font-weight: 700;
  margin-top: 5px;
}
.machine {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 35px;
  margin: 10px;
}
.machine__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.machine__name {
  font-size: 7px;
}
.machine__song {
  font-size: 15px;
}
.machine__icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tapha {
  margin: 10px;
}
.nvb__photo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.nvb__photoreal {
  margin: 30px;
  height: 200px;
  width: 200px;
  border-radius: 13px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.nvb__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.songtime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin: 40px 20px;
}
.songtime__time {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.playbtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
